* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
}
img {
    margin-top: 30px;
    margin-left: 30px;
}
fieldset { /* 창 크기와 관계 없이 모양 fix=relative */
    /* p랑 안 맞아 중앙에 있게 하자!! */
    position: relative; /* staticX / absolute~fixed 모양 유지는 relative가 딱!!!!*/
    /* absolute하면 무조건 top, left에서 일정px 이상 떨어져있음 */
    padding: 40px 80px;
    width: 600px;
    /* left 먹는데 top이 안 먹어 */
    left: 34%;
    margin-top: 82px;
    margin-bottom: 15px;
    font: 20px D2Coding;
    border: 2px dotted silver;
    border-radius: 15px;
    background-image: linear-gradient(140deg, #FAFAA0, 	#C0FFFF, #C1FF6B);
    
    /* background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%); */
    opacity:0.9;
    line-height: 2.5;
}
legend {
    font-weight: bold;
    font-size: 35px;
    white-space: pre;
    text-align: center;
}
label {
    white-space: pre;
}
input {
    margin: 20px;
    width: 250px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 10px;
}
/* submit button */
input:last-child { /* 중앙정렬???? */
    /* float: center; */
    width: 150px;
    height: 40px;
    background-color: grey;
    border: none;
    border-radius: 10px;
    font: 20px D2Coding;
    color: white;
    cursor: pointer;
}
#pwdck {
    /* display: absolute; ? */
    margin: 0;
    text-align: center;
    /* float: right; */
}
p {
    text-align: center;
    font-family: D2Coding;
    /* position: ; */
}