* {
    box-sizing: border-box;
    /* m:0+p:0 tab*/
    margin: 0;
    padding: 0;
}
body, html {
    /* margin: 0; */
    height: 100%;
}
body {
    display: flex;
}
.left-side {
    float: left;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 22%;
    border: 5px solid black;
    height: 100%;
}
.left-menu {
    width: 100px; 
    flex: 1;
    /* 얘는 범위 조정이 되는데 basis는 안 되는데? basis만 쓰는 건 안 되나? */
    /* flex-basis: 100px; */
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
    font-size: 12px;
}
.left-list {
    float: right;
    /* width: 78%; */
    flex: 3;
    height: 100%;
    border: 1px solid darkmagenta;
}
#plogo {
    padding: 20px;
    /* 앗쉬 크기 어떻게 키우지 메뉴 애들은 작게 */
}
/* Modal */
.plus-modal {
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.plus-modal:target {
    opacity: 1;

}
.menu {
    padding: 30px;
    margin-left: 3px; /* center align 못하나? */
}
.menu:hover {
    background-color:dodgerblue;
    border-radius: 30px;
}
#date {
    margin-top: 15px;
    margin-left: 15px;
}

.right-side {
    float: right;
    flex: 3;
    flex-direction: column;
    width: 78%;
    height: 100%;
    text-align: center; /* 왜 여기지? */
    border: 1px solid palevioletred;
}
.rheader { /* 오타 조심하기 */
    /* 세로 길이 줄이면 r헤더 망가짐 -> 해결??? */
    border: 1px solid green;
    height: 270px;
    width: 100%;
    margin: 100px auto;
    margin-bottom: 0;
    /* vertical-align: baseline; */
}
#profile {  
    border: 1px solid darkgray;
    border-radius: 50px;
    padding: 50px;
    /* width: 15%; */
    height: 70%
}
#name {
    margin: 15px auto;
    width: 18%;
}
#name:hover {
    background-color: lightsteelblue;
    border-radius: 50px;
}

.right-bottom{
    float: right;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    border: 1px solid yellow;
}

/* Responsive layout */
@media screen and (max-width: 1500px) {
    .right-side {
        flex: 5;
    }
    .left-side {
        flex: 3;
    }
}
@media screen and (max-width: 800px) {
    .right-side {
        display: none;
    }
    .left-side {
        width: 100%;
    }
    .left-menu {
        flex: 1;
    }
    .left-list {
        flex: 5;
    }
}