* {
    box-sizing: border-box;
    /* m:0+p:0 tab*/
    margin: 0;
    padding: 0;
}
body, html {
    /* margin: 0; */
    height: 100%;
}
/* 반응형 웹 */
@media (max-width:900px){ /* 450으로 하고 싶은데 안 줄어들어!!!!!*/
    .right-side {
        display: none;/* 아예 안 되는디?????? */
    }
}
.left-side {
    float: left;
    display: flex;
    flex-direction: row;
    width: 400px;
    border: 1px solid black;
    height: 100%;
}
.left-menu {
    width: 100px; 
    /* 얘는 범위 조정이 되는데 basis는 안 되는데? basis만 쓰는 건 안 되나? */
    /* flex-basis: 100px; */
    height: 100%;
    border: 1px solid red;

}
.left-list {
    width: 300px;
    height: 100%;
    border: 1px solid darkmagenta;
}
#plogo {
    padding: 20px;
    /* 앗쉬 크기 어떻게 키우지 메뉴 애들은 작게 */
}
.menu {
    padding: 30px;
    margin-left: 3px; /* center align 못하나? */
}
.menu:hover {
    background-color:dodgerblue;
    border-radius: 30px;
}
#date {
    margin-top: 15px;
    margin-left: 15px;
}

.right-side { /* 화면 줄이면 프로필 사진 다 아래로 내려가고 난리남 .. 휴 */
    float: right;
    display: flex;
    flex-direction: column;
    width: 78%;
    height: 100%;
    text-align: center; /* 왜 여기지? */
    border: 1px solid palevioletred;
    /* position: relative; */
}
.rheader { /* 오타 조심해 제발...... */
    border: 1px solid green;
    height: 30%;
    width: 100%;
    margin: 70px auto;
    margin-bottom: 0;
    /* position: absolute; */
}
#profile {  
    /* margin-top: 50px; */
    border: 1px solid darkgray;
    border-radius: 50px;
    padding: 50px;
    /* margin-bottom: 15px; */
    width: 15%;
}
#name { /* width 설정 또 해야 하네 어떻게 해!!!!!!!!! */
    margin: 15px auto;
    width: 15%;
}
#name:hover {
    background-color: lightsteelblue;
    border-radius: 50px;
}

.right-bottom{
    float: right;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    border: 1px solid black;
    /* position: absolute; */
}